<div class="row">
	<div ng-click="purpose.save('Party')" ng-class="{active:purpose.isActive('Party')}" class="col-md-3 purpose-item">
		<div class="purpose-icon purple text-center"></div>
		<div class="step-text text-center">Party</div>
	</div>
	<div ng-click="purpose.save('Study')" ng-class="{active:purpose.isActive('Study')}" class="col-md-3 purpose-item">
		<div class="purpose-icon red text-center"></div>
		<div class="step-text text-center">Study</div>
	</div>
	<div ng-click="purpose.save('Relax')" ng-class="{active:purpose.isActive('Relax')}" class="col-md-3 purpose-item">
		<div class="purpose-icon orange text-center"></div>
		<div class="step-text text-center">Relax</div>
	</div>
	<div ng-click="purpose.save('Workout')" ng-class="{active:purpose.isActive('Workout')}" class="col-md-3 purpose-item">
		<div class="purpose-icon yellow text-center"></div>
		<div class="step-text text-center">Workout</div>
	</div>
</div>